.nav {
  position: relative;
  margin: 20px 0 140px 0;
}

.logo {
  position: absolute;
  top: -14px;
  left: -17px;
}

.logo img {
  width: 160px;
}

.nav-link.active {
  border-bottom: 1px solid #8ec4ff;
  padding-bottom: 5px;
}
