<!-- CONTENT -->

<h3 class="title">Gallery</h3>

<div class="row">
  <div class="col-6 col-sm-4 col-md-2">
    <div class="card">
      <a href="https://myanimelist.cdn-dena.com/images/anime/9/35721.jpg">
        <img class="card-img-top" src="https://myanimelist.cdn-dena.com/images/anime/9/35721.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="col-6 col-sm-4 col-md-2">
    <div class="card">
      <a href="https://myanimelist.cdn-dena.com/images/anime/2/73862.jpg">
        <img class="card-img-top" src="https://myanimelist.cdn-dena.com/images/anime/2/73862.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="col-6 col-sm-4 col-md-2">
    <div class="card">
      <a href="https://myanimelist.cdn-dena.com/images/anime/9/86835.jpg">
        <img class="card-img-top" src="https://myanimelist.cdn-dena.com/images/anime/9/86835.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="col-6 col-sm-4 col-md-2">
    <div class="card">
      <a href="https://myanimelist.cdn-dena.com/images/anime/3/67177.jpg">
        <img class="card-img-top" src="https://myanimelist.cdn-dena.com/images/anime/3/67177.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="col-6 col-sm-4 col-md-2">
    <div class="card">
      <a href="https://myanimelist.cdn-dena.com/images/anime/5/87048.jpg">
        <img class="card-img-top" src="https://myanimelist.cdn-dena.com/images/anime/5/87048.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="col-6 col-sm-4 col-md-2">
    <div class="card">
      <a href="https://myanimelist.cdn-dena.com/images/anime/12/85221.jpg">
        <img class="card-img-top" src="https://myanimelist.cdn-dena.com/images/anime/12/85221.jpg" alt="">
      </a>
    </div>
  </div>
</div>
<!-- row -->

<div class="row">
  <div class="col-6 col-sm-4 col-md-2">
    <div class="card">
      <a href="https://myanimelist.cdn-dena.com/images/anime/5/47421.jpg">
        <img class="card-img-top" src="https://myanimelist.cdn-dena.com/images/anime/5/47421.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="col-6 col-sm-4 col-md-2">
    <div class="card">
      <a href="https://myanimelist.cdn-dena.com/images/anime/13/24647.jpg">
        <img class="card-img-top" src="https://myanimelist.cdn-dena.com/images/anime/13/24647.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="col-6 col-sm-4 col-md-2">
    <div class="card">
      <a href="https://myanimelist.cdn-dena.com/images/anime/13/24647.jpg">
        <img class="card-img-top" src="https://myanimelist.cdn-dena.com/images/anime/13/24647.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="col-6 col-sm-4 col-md-2">
    <div class="card">
      <a href="https://myanimelist.cdn-dena.com/images/anime/13/24647.jpg">
        <img class="card-img-top" src="https://myanimelist.cdn-dena.com/images/anime/13/24647.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="col-6 col-sm-4 col-md-2">
    <div class="card">
      <a href="https://myanimelist.cdn-dena.com/images/anime/13/24647.jpg">
        <img class="card-img-top" src="https://myanimelist.cdn-dena.com/images/anime/13/24647.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="col-6 col-sm-4 col-md-2">
    <div class="card">
      <a href="https://myanimelist.cdn-dena.com/images/anime/13/24647.jpg">
        <img class="card-img-top" src="https://myanimelist.cdn-dena.com/images/anime/13/24647.jpg" alt="">
      </a>
    </div>
  </div>
</div>
<!-- row -->

<div class="row">
    <div class="col-6 col-sm-4 col-md-2">
      <div class="card">
        <a href="#">
          <img class="card-img-top" src="https://myanimelist.cdn-dena.com/images/anime/9/35721.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-2">
      <div class="card">
        <a href="#">
          <img class="card-img-top" src="https://myanimelist.cdn-dena.com/images/anime/2/73862.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-2">
      <div class="card">
        <a href="#">
          <img class="card-img-top" src="https://myanimelist.cdn-dena.com/images/anime/9/86835.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-2">
      <div class="card">
        <a href="#">
          <img class="card-img-top" src="https://myanimelist.cdn-dena.com/images/anime/3/67177.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-2">
      <div class="card">
        <a href="#">
          <img class="card-img-top" src="https://myanimelist.cdn-dena.com/images/anime/5/87048.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-2">
      <div class="card">
        <a href="#">
          <img class="card-img-top" src="https://myanimelist.cdn-dena.com/images/anime/12/85221.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
  <!-- row -->

  <div class="row">
    <div class="col-6 col-sm-4 col-md-2">
      <div class="card">
        <a href="#">
          <img class="card-img-top" src="https://myanimelist.cdn-dena.com/images/anime/5/47421.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-2">
      <div class="card">
        <a href="#">
          <img class="card-img-top" src="https://myanimelist.cdn-dena.com/images/anime/13/24647.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-2">
      <div class="card">
        <a href="#">
          <img class="card-img-top" src="https://myanimelist.cdn-dena.com/images/anime/13/24647.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-2">
      <div class="card">
        <a href="#">
          <img class="card-img-top" src="https://myanimelist.cdn-dena.com/images/anime/13/24647.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-2">
      <div class="card">
        <a href="#">
          <img class="card-img-top" src="https://myanimelist.cdn-dena.com/images/anime/13/24647.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-2">
      <div class="card">
        <a href="#">
          <img class="card-img-top" src="https://myanimelist.cdn-dena.com/images/anime/13/24647.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
  <!-- row -->
